body {
    max-width: 1000px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    text-align: center;
}

h1 {
    font-size: 64px;
}

h1,
h2 {
    text-transform: uppercase;
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 32px;
    column-gap: 32px;
}

img {
    width: 100%;
    border-radius: 10px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

a {
    text-decoration: none;
}